{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling Demo</h1>

                <h2>Case Study: Overview</h2>
                <ol>
                    <li><a href="{{ path('case-study-calendar') }}">Calendar</a></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}